/*
NAME: ABE Jahwin
DATE: 06 MAY 2019
VERSION: 0.1
*/
.client-body-section{
    padding-top: 20px;
}
.client-list{
    background: #fff;
    margin-top: 0px;
    margin-left: 19px;
    margin-right: 19px;
}
