.logo-image{
    width: 100%;
    padding-top: 47px;
}
.logo-image img{
    width: 100%;
}


.upload-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(8px);
    -webkit-filter: blur(126px);
    z-index: 999999999;
    background: rgb(255, 255, 255);
}
.upload-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload-window {
    width: 968px;
    background: #fff;
    box-shadow: 0px 0px 43px #5d5d5d;
    border-radius: 12px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}
.upload-ribbon
{
    width: 100%;
    height: 40px;
    background: linear-gradient(120deg, #00e4d0, #5983e8);
    position: relative;
    top: -2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 11px;
}
.upload-header
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
    background: #fff;
    padding-bottom: 4px;
    border-bottom: 1px solid #eaeaea;
}
.upload-cancel-btn{
    color: #f98181;
}
.upload-cancel-btn:hover {
    color: #f33737;
}
.upload-close-btn {
    color: #f98181;
}
.upload-close-btn:hover {
    color: #f33737;
}
.upload-item-btn{
    color: #009b4e;
}
.upload-item-btn:hover{
    color: #009b0e;
}
.upload-tabs {
    width: 100%;
    display: flex;
    justify-content: center;
}
.upload-tabs button {
    width: 137px !important;
    border-radius: 0;
    padding: 6px 0px;
    font-size: 12px
}
.uploaded-files {

}
.upload-footer
{
    background: #fff;
    height: 61px;
    width: 100%;
    position: sticky;
    bottom: 0;
}
.btn-add-files
{
    position: absolute;
    right: 20px;
    top: -20px;
    box-shadow: 0px 0px 6px #6f6f6f;
    padding: 10px 4px !important;
    font-size: 19px;
    font-weight: bold;
}
.upload-upload-all-btn{
    position: absolute;
    right: 69px;
    top: -20px;
    box-shadow: 0px 0px 6px #6f6f6f;
    padding: 10px 4px !important;
    font-size: 19px;
    font-weight: bold;
}
.upload-body
{
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #e3e3e3; /* Old browsers */
    position: relative;
}
.uploaded-body {
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 6px;
    padding-right: 1px;
    height: 500px;
    background: #e3e3e3;
    position: relative;
}
.upload-preview img {
    width: 54px;
    margin-top: 13px;
    margin-left: 11px;
}
.pending-uploads-card
{
    box-shadow: 0px 0px 4px #ccc;
    border-radius: 10px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    background: #fff;
}
.progress{
    width: 100%;
    height: 5px;
    border-radius: 0px;
}
.progress-bar{
    background: linear-gradient(120deg, #4bf5e4, #a44ff3);
    height: 5px;
    border-radius: 0 !important;
    transition: ease-in 0.7s;
}
.upload-info span{
    font-size: 10px;
}
.upload-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.upload-option {
    padding: 26px 10px;
    height: 100px;
}
.upload-preview{
    padding-top: 5px;
}
.upload-info {
    padding: 15px 20px;
    height: 100px;
    justify-content: space-around;
}
.upload-column{
    padding-right: 10px;
    padding-bottom: 10px;
}
.upload-processed
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.outline-success {
    border: 1px solid #00ce68 !important;
}
.hide{
    display: none;
}
.upload-file-name {
    overflow: hidden;
    margin-bottom: 5px;
}
.item-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.drag-file-widget {
    background-color: white;
    outline: 2px dashed black;
    outline-color: black;
    outline-offset: -10px;
    height: 300px;
    width: 80%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline-color: #03e1d1;
    color: #518be6;
}
.drag-file-widget span{
    font-size: 100px;
}
.file-info-widget{
    background: #fff;
    height: 500px;
}
.file-items{
    overflow-y: scroll;
    height: 500px;
}
.item-card{
    background: #fff;
    height: 215px;
    box-shadow: 0px 0px 4px #ccc;
    border-radius: 10px;
}
.item-card:hover {
    cursor: pointer;
}
.item-preview{
    height: 150px;
    background: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-position: center;  background-size: contain; background-repeat: no-repeat;
}
.item-preview audio{
    width: 100%;
    height: 150px;
    background: #1b1b1b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.item-preview video{
    width: 100%;
    height: 150px;
    margin-top: 0px;
    background: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.image-preview{
    height: 150px;
    width: 100%;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.item-options{
    display: flex;
    justify-content: space-between;
    padding: 4px;
}
.item-options .menu{
    background: #fff !important;
    padding: 1px !important;
    width: 14px !important;
    font-size: 23px;
    color: #686868 !important;
    border: 0px !important;
}
.btn-group{
    border: 0px !important;
}
.item-options .file-name{
    width: 88%;
    overflow: hidden;
    padding-top: 6px;
    font-size: 9px;
}
.search-widget{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 61px;
    align-items: center;
    padding: 16px;
}
.search-widget input{
    height: 38px;
    margin-right: 8px;
}
.search-widget select {
    margin-right: 8px;
}
.file-info-widget-data{
    background: #fff;
    height: 500px;
    overflow-y: auto;
    padding: 11px;
}